[submodule "lib/HALibrary"]
	path = lib/HALibrary
	url = git@github.com:mateuszbugaj/HALibrary.git
[submodule "lib/SimpleAvrUsart"]
	path = lib/SimpleAvrUsart
	url = git@github.com:mateuszbugaj/SimpleAvrUsart.git
[submodule "lib/GenericI2C"]
	path = lib/GenericI2C
	url = git@github.com:mateuszbugaj/GenericI2C.git
